html, body {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    overflow: auto;
}

@media screen and (max-width: 1919px) {
    html, body {
        transform-origin: top left;
        transform: scale(calc(100vw / 1920));
        height: calc(1080px * (100vw / 1920));
    }
}
